*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
body{
    background: #EDF2FF;
    font-family: 'Roboto', sans-serif;
}

.container{
    text-align: center;
    width: 300px;
    margin: 40px auto 0px;
}

img{
    width: 100%;
}

img.avatar{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: solid 4px #4263EB;
    padding: 3.7px;
    transition: 400ms;
}

img.avatar:hover{
    border: solid 4px #364FC7;
    padding: 0px;
}

h1{
    font-size: 30px;
    color: #00082F;
    margin-top: 18px;
    margin-bottom: 8px;
}

.text{
    font-family: 'Roboto Mono', monospace;
    color: #00082F;
    opacity: 0.8;
    font-size: 15px;
}

ul{
    list-style: none;
    margin: 30px 0;
}



ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    background: #4263EB;
    color: white;
    font-size: 14px;
    margin-bottom: 12px;
    border-radius: 6px;
    transition: background 400ms;
}

ul li a:hover{
    background: #364FC7;
}

footer {
    font-weight: 500;
    font-size: 12px;
    color: #00082F;
    opacity: 0.6;
    transition: opacity 400ms;
}

footer:hover{
    opacity: 1;
}